body {
    margin-top: 50px;
    margin-left: 50px;
}

li {
    list-style-type: none;
}

div {
    width: 250px;
}

.rubrik {
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}